/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.header{
  border-bottom: 1px solid #c0c0c056;
  width: 100%;
  color: #ffffff;
  display: flex;
  padding: 10px;
  overflow-x: hidden;
 
}
.logoa{

  width: 30px;
  background-color: red;
}
.logob{
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  width:100%;
  height: 50%;
  background-color: #ffffff;
}
.social{
  color: #ffffff;
  display: flex;
  width: 20%;
}
.social>li{
  margin-right: 10%;
  display: inline;
  font-size: 12px;
}
.top{
  justify-content: center;
  display: flex;
  width: 100%;
  background-color: #260a66;
}
.spacer {
  flex: 1;
}
.quote{
  padding: 20px;
  color: #ffffff;
}
.quote>h1{
  max-width: 850px;
  font-weight: 800;
  font-size: 50px;
}
.quote>p{
  max-width: 850px;
  color: #c0c0c0;
}

.menu{
  display: flex;
  align-items: center;

   width: 60%;
 /* background-color: green;
  justify-content: center;
  align-items: center; */
}

.menu>li{
  padding: 10px;
  margin-right: 3%;
  display: inline;
  font-size: 12px;

}
.menu>li:hover{
  background-color: red;
  cursor: pointer;
}
.cover{
  overflow-x: hidden;
  height: 100vh;
}
button{
background-color: red;
color: white;
border: none;
font-weight: bold;
padding: 15px;
margin-top: 10px;

}
.container{
  width: 90%;
  margin: auto;
}


.image{
  width: 100%;
  background-image: url("child.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.overlay{
  background-color: rgba(10, 10, 37, 0.726);
  width: 100%;
  height: inherit;
  
}
img{
  width: inherit;
 
}

input{
  padding: 20px;
  border: none;

}